---
layout: page.njk
title: Cases
permalink: cases/index.html
category: Archive
---

<section class="content-index" aria-labelledby="cases-index-heading">
  {% if collections.caseGroups | length %}
    <ul class="content-index__list font-typewriter">
      {% for group in collections.caseGroups %}
        {% set head = group.posts[0] %}
        <li class="content-index__item content-index__item--case">
          <small class="content-index__case-number">
            <strong>Case Number:</strong>
            {{ head.data.year }}{{ head.data.case_type }}-{{ head.data.case_number | padSuffix }}.{{ head.data.session | padSuffix }}</small><br/>
          <a class="content-index__link" href="/cases/{{ group.slug }}/">{{ group.title }}</a><br/>
          <span class="content-index__session-count">{{ group.posts | length }} session{% if (group.posts | length) != 1 %}s{% endif %}
          </span>
          {% if group.latestDate %}
            <small class="content-index__case-date">{{ group.latestDate | longDate }}</small>
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p class="content-index__empty font-typewriter">No cases filed yet.</p>
  {% endif %}
</section>