<div class="author">
  <div class="author__text">
    <p class="author__bio font-typewriter">
      I am a fictional character created by
      <a href="https://aj-hunter.com">AJ Hunter</a>. I am a monster hunter posing as a private investigator. Most of my cases are mundane rooted in a little supernatural.
    </p>
    <p class="author__signature signature font-handwriting">
      <span class="author__signature-heart" aria-hidden="true">
        <i class="fa-regular fa-heart"></i>
      </span>Nox
    </p>
  </div>
  <div class="author__avatar">
    <img
      class="author__avatar-img"
      src="/images/nox_avatar{% if avatar %}_{{ avatar }}{% endif %}.jpg"
      alt="Nox"
      width="128"
      height="128"/>
  </div>
</div>