<header>
  <div class="header-content">
    <div>
      <h1 class="header-title font-handwriting">
        <a href="/">The Mind of Nox</a>
      </h1>
      <p class="header-subtitle font-typewriter">
        Field Notes - Authorized Personnel Only
      </p>
    </div>
    <div class="header-icons">
      <svg
        class="icon"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        fill="none"
        stroke="#4b5563"
        stroke-linecap="round"
        stroke-linejoin="round">
        <path d="m21.44 11.05-9.19 9.19a6 6 0 0 1-8.49-8.49l8.57-8.57A4 4 0 1 1 18 8.84l-8.59 8.57a2 2 0 0 1-2.83-2.83l8.49-8.48"/>
      </svg>
      <svg
        class="icon"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        fill="none"
        stroke="#7f1d1d"
        stroke-linecap="round"
        stroke-linejoin="round">
        <circle cx="11" cy="11" r="8"/>
        <path d="m21 21-4.3-4.3"/>
      </svg>
    </div>
  </div>
</header>